<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		
		<!-- Clear existing sources -->
		<add key="github" value="https://nuget.pkg.github.com/andres9495/index.json" />
		<!-- You can add additional private sources here -->
	</packageSources>
	<packageSourceCredentials>
		<!-- Optional: Add credentials for private sources -->
	</packageSourceCredentials>
</configuration>